.photo {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-left: 0.5em;
    margin-bottom: 1em;
    align-items: center;
}

.photo h5 {
    font-weight: bold;
    text-align: center;
}

.photo img {
    display: block;
    margin: 1em auto ; 
    width: 200px;
    height: 200px;
    /* border: 1px solid lightgray; */
}

.signature {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-left: 0.5em;
    margin-bottom: 1em;
    align-items: center;
}

.signature h5 {
    font-weight: bold;
    text-align: center;
}

.signature img {
    display: block;
    margin: 1em auto ; 
    width: 200px;
    height: 150px;
    /* border: 1px solid lightgray; */
}

.message {
    padding: 0.5em;
}

td { 
    font-size: 11px; 
}


